<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./gamedetails.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
          <tr>
            <% if (rows.length > 0) { %> <% Object.keys(rows[0]).forEach(key => {
            %>
            <th><%= key %></th>
            <% }) %> <% } %>
          </tr>
        </thead>
        <tbody>
          <% rows.forEach(row => { %>
              <tr>
                  <% Object.keys(row).forEach(key => { %>
                    <% if (key === 'release_year' && row[key] instanceof Date) { %>
                      <td><%= row[key].getFullYear() %></td>
                    <% } else { %>
                      <td><%= row[key] %></td>
                    <% } %>
                  <% }) %>
                </tr>
          <% }) %>
        </tbody>
      </table>
</body>
</html>